//Fő arculati elemek

$w-color-error: #FF5252
$w-color-primary: #388E3C

$color-btn-primary: #fff
$color-btn-secondary: $color-btn-primary
$color-btn-error: $color-btn-primary

$background-btn-primary: $w-color-primary
$background-btn-secondary: #8BC34A
$background-btn-error: $w-color-error

.w-btn-primary
  color: $color-btn-primary
  background: $background-btn-primary

.w-btn-secondary
  color: $color-btn-secondary
  background: $background-btn-secondary

.w-btn-error
  color: $color-btn-error
  background: $background-btn-error

.w-row
  margin-bottom: 10px
  margin-top: 10px

.w-error-icon
  color: $w-color-error

.logged-in-user-container
  position: absolute
  top: 10px
  right: 20px
  color: $w-color-primary
  padding: 10px
  background: #fff
